<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58492822930-0eeeje3ard1vplm89oo66jrajo7h38j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58492822930-0eeeje3ard1vplm89oo66jrajo7h38j5</string>
	<key>API_KEY</key>
	<string>AIzaSyDw10BNqKBXnxbcu28eEAbRlFDjrE4jkjo</string>
	<key>GCM_SENDER_ID</key>
	<string>58492822930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyapallan.tableviewmvvm</string>
	<key>PROJECT_ID</key>
	<string>letstodo-d3c4b</string>
	<key>STORAGE_BUCKET</key>
	<string>letstodo-d3c4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58492822930:ios:a16acae5a0d9ffbb1a0d4b</string>
	<key>DATABASE_URL</key>
	<string>https://letstodo-d3c4b.firebaseio.com</string>
</dict>
</plist>